includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - tests/

    level: 5

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#PHPDoc tag @var#'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    reportUnmatchedIgnoredErrors: false
